<!doctype html>
<html ng-app>
<head>
  <title>Telematics - AngularJS UI</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/toastr.css">
  <link rel="stylesheet" href="css/application.css">
</head>
<body>
  <div class="container" ng-controller="ListaComprasController" data-ng-init="fetchProductsList()">

    <div class="row">
      <div class="page-header">
        <div class="span9">
          <h1>Telematics - Devices</h1>
        </div>
        <div class="span3">
          <input type="search" ng-model="search" placeholder="search here">
        </div>
      </div>
    </div>

    <div class="row">
      <table id="lista-compras" class="table table-striped">
        <thead>
          <tr>
            <th>Select</th>
            <th>Device Name</th>
            <th>Status</th>
            <th>Reported On</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in itens | filter:search" class="comprado-{{ item.comprado }}">
            <td><input type="checkbox" ng-model="item.comprado"></td>
            <td><strong>{{ item.label }}</strong></td>
            <td><strong ng-if="item.status == Ok">{{ item.status }}</strong>
			</td>
            <td>{{ item.reported_on | date:'yyyy-MM-dd hh:mm:ss' }}</td>
            <td>
              <button class="btn btn-warning btn-small" ng-click="editarItem($index)">
                <i class="icon-pencil icon-white"></i> Edit
              </button>
              <button class="btn btn-danger btn-small" ng-click="deleteItem($index)">
                <i class="icon-trash icon-white"></i> Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <form class="row form-inline" name="validarValoresPreenchidos">
      <input type="text" ng-model="item.label" placeholder="Device Name" required>
      <!-- <input type="number" ng-model="item.status" placeholder="Status" class="input-small" required> -->
	  <label><input type="radio" ng-model="item.status" value="ok">Ok</label>
	  <label><input type="radio" ng-model="item.status" value="offline">Offline</label>
      <button ng-hide="edit" class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="adicionaItem()">
        <i class="icon-plus icon-white"></i> Add
      </button>
      <button ng-show="edit" class="btn btn-success" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="applyChanges()">
        <i class="icon-ok icon-white"></i> Save
      </button>
      <button ng-show="edit" class="btn btn-primary" ng-disabled="validarValoresPreenchidos.$invalid" ng-click="resetItem()">
        <i class="icon-ok icon-white"></i> Cancel
      </button>
    </form>
  </div>
  <script src="lib/jquery.min.js"></script>
  <script src="lib/angular.min.js"></script>
  <script src="lib/toastr.min.js"></script>
  <script src="app/controllers.js"></script>
</body>
</html>